@tailwind base;
@tailwind components;
@tailwind utilities;

.input {
  @apply rounded-md p-3 outline-none border border-gray-500 mx-auto focus:bg-green-50;
}

.btn {
  @apply p-3 rounded-lg text-white hover:bg-amber-900 transition duration-300;
}

.contactBtn {
  @apply p-3 rounded-lg text-white hover:bg-white hover:text-black transition duration-300;
}

.twoColBtn {
  @apply p-3 rounded-lg text-black hover:bg-white transition duration-300;
}
.btnExam {
  @apply bg-green-600 rounded-sm text-white hover:bg-green-700 transition duration-300;
}

/* table,
  th,
  td {
    border: 1px solid #999;
  } */
td {
  text-align: center;
}

tr:nth-child(odd) {
  background: rgb(230, 230, 230);
}
